<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/PECUARIA</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">14232527</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="bean.animal" />
		<mapping class="bean.curral" />
		<mapping class="bean.especie" />
		<mapping class="bean.filial" />
		<mapping class="bean.grupo" />
		<mapping class="bean.lote" />
		<mapping class="bean.raca" />
		

	</session-factory>
</hibernate-configuration>






